.cabal-sandbox
a.out
runtime.o
Test.*
test2.*
tmp
build
*.o
*.hi
*.swp
*~
*.exe
*#
.*.swo
.swp
.DS_Store
.idea
TAGS
_darcs
reference
dist
docs
tags
wiki
wip
.cabal-sandbox
goo
*.S64*
*.iml
cabal.sandbox.config
target
.stack-work
log
